.show{
    display: flex!important;
  }
  .delete-item-wrapper{
    .fa{
      cursor: pointer;
    }
  }
  .table-row{
    &:hover, &:focus, &:active{
      background: #f9f9f9;
    }
    *{
      text-align: center;
    }
  }
  .table-col{
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 2;
    &:hover, &:focus, &:active{
      background: #f9f9f9;
    }
    a{
      color: #292b2c;
      text-decoration: none;
    }
    .fa{
      margin-left: 5px;
    }
  }
  #modal-open-img{
    justify-content: center;
      align-items: center;
    .modal-dialog{
      max-width: 544px!important;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  #modal-open-add-img,#modal-open-edit-image,#modal-open-delete-image{
    align-items: center;
    cursor: default;
    .modal-dialog{
      min-width: 600px;
      .modal-content{
        form{
          .modal-header{
            .modal-title{
  
            }
            button[type="button"]{
  
            }
          }
          .modal-body{
            .form-group{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              label{
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .select-image{
                padding: .5rem .75rem;
                font-size: 1rem;
                line-height: 1.25;
                border: 1px solid rgba(0,0,0,.15);
                border-radius: .25rem;
                  &:last-child{
                    margin-bottom: 0;
                  }
                  &:hover{
                    color: #000;
                    background-color: #fff;
                    border-color: #343a40;
                  }
                  &:active{
                    color: #000;
                    background-color: #fff;
                    border-color: #343a40;
                  }
                  &:focus{
                    box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
                  }
                  .fa{
                    margin-right: 5px;
                  }
              }
              input[type="file"]{
                display: none;
              }
              input[type="text"]{
                height: 38px;
              }
              .img-uploader{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .uploaded-image{
                  position: relative;
                  z-index: 1;
                  img{
                    width: 128px;
                    height: 128px;
                  }
                  .uploaded-image-delete{
                    position: absolute;
                    top: -10px;
                    z-index: 2;
                    right: -8px;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #6b0b0b;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    cursor: pointer;
                    .fa{
                      margin-bottom: 1px;
                      color: #fff;
                      font-size: 15px;
                    }
                  }
                }
              }
              .tags_selector{
                padding: 0;
                .select2-container{
                  width: 100%!important;
                }
                .tags_container{
                  border: 1px solid rgba(0,0,0,.15);
                  border-radius: .25rem;
                }
                .select2-results__option--highlighted{
                  display: none;
                }
                .select2-selection__choice{
                  background-color: #e4e4e4;
                  cursor: default;
                  float: left;
                  margin-right: 5px;
                  margin-top: 5px;
                  background: #f4f5f7;
                  border: 1px solid #dfe1e6;
                  border-radius: 3.01px;
                  display: inline-block;
                  font-size: 14px;
                  font-weight: 400;
                  padding: 1px 5px;
                  text-decoration: none;
                }
              }
            }
          }
          .modal-footer{
            .btn{
              background: #1d1d1d;
              color: #fff;
              border-color: transparent;
              &:last-child{
                margin-bottom: 0;
                background: #fff;
                color: #1d1d1d;
                border-color: rgba(0,0,0,.15);
              }
              &:hover{
                color: #000;
                background-color: #fff;
                border-color: #343a40;
              }
              &:active{
                color: #000;
                background-color: #fff;
                border-color: #343a40;
              }
              &:focus{
                box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
              }
              .fa{
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  #modal-open-add-user,#modal-open-edit-user,#modal-open-delete-user{
    align-items: center;
    cursor: default;
    .modal-dialog{
      min-width: 600px;
      .modal-content{
        form{
          .modal-header{
  
          }
          .modal-body{
            padding: 15px 20px;
            label{
              margin-left: .5rem;
            }
          }
          .modal-footer{
            .btn{
              background: #1d1d1d;
              color: #fff;
              border-color: transparent;
              &:last-child{
                margin-bottom: 0;
                background: #fff;
                color: #1d1d1d;
                border-color: rgba(0,0,0,.15);
              }
              &:hover{
                color: #000;
                background-color: #fff;
                border-color: #343a40;
              }
              &:active{
                color: #000;
                background-color: #fff;
                border-color: #343a40;
              }
              &:focus{
                box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
              }
              .fa{
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  #modal-open-add-tag,#modal-open-edit-tag,#modal-open-delete-tag{
    align-items: center;
    cursor: default;
    .modal-dialog{
      min-width: 600px;
      .modal-content{
        form{
          .modal-header{
  
          }
          .modal-body{
            padding: 15px 20px;
            label{
              margin-left: .5rem;
            }
          }
          .modal-footer{
            .btn{
              background: #1d1d1d;
              color: #fff;
              border-color: transparent;
              &:last-child{
                margin-bottom: 0;
                background: #fff;
                color: #1d1d1d;
                border-color: rgba(0,0,0,.15);
              }
              &:hover{
                color: #000;
                background-color: #fff;
                border-color: #343a40;
              }
              &:active{
                color: #000;
                background-color: #fff;
                border-color: #343a40;
              }
              &:focus{
                box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
              }
              .fa{
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  
  body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    .wrapper{
      height: 100%;
      .header{
        height: 56px;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #1d1d1d;
        border-bottom: 1px solid #263340;
        .header-logo{
          height: 100%;
          align-items: center;
          display: flex;
          h1{
            margin: 0;
            font-size: 1.5rem;
            color: #fff;
          }
        }
        .modal-open-user{
          overflow: visible!important;
          .user-modal{
            display: block!important;
          }
        }
        .header-user-info{
          color: #fff;
          position: relative;
          .user-name{
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 56px;
            padding: 0 20px;
            cursor: pointer;
          }
          .user-modal{
            display: none;
            position: absolute;
            background: #fff;
            color: #000;
            top: 100%;
            right: -10px;
            left: auto;
            bottom: auto;
            padding: 0;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: .25rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: none;
            width: 95px;
            cursor: pointer;
            .user-modal-wrapper{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .user-modal-link{
                font-weight: 500;
                color: #4a4a4a;
                text-decoration: none;
                text-align: left;
                padding: 5px 20px 5px 20px;
                width: 100%;
                text-align: left;
                &:hover,&:focus,&:active{
                  background: rgba(0, 0, 0, 0.15);
                }
                &:last-child{
                  border-bottom-left-radius: .25rem;
                  border-bottom-right-radius: .25rem;
                }
              }
            }
          }
        }
      }
  
      .main-wrapper{
        display: flex;
        flex-direction: row;
        height: 100%;
        .main-tabs{
          background-color: #1d1d1d;
          border-right: 1px solid #263340;
          min-width: 215px;
          .nav{
            flex-direction: column;
            .nav-link{
              width: 100%;
              color: #292b2c;
              text-decoration: none;
              font-size: 1.1rem;
              color: #fff;
              display: flex;
              align-items: center;
              &:hover{
                background: #000;
              }
              &:focus{
                background: #000;
              }
              &:active{
                background: #000;
              }
              .fa{
                padding-right: 10px;
                margin-top: 1px;
              }
            }
            .active{
              background: #000;
            }
          }
        }
        .main-content{
          background: #fff;
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 15px;
          /*display: grid;
          grid-template-columns: 80% 20%;
          grid-template-rows: min-content min-content min-content;
          grid-template-areas: 'addimage addimage' 'search search' 'imagedata right';*/
          .content-info{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .info-block{
              max-width: 200px;
              padding: 10px;
              background: #e9e9e9;
              border: 1px solid rgba(0,0,0,.15);
              border-radius: .25rem;
              width: 100%;
              .block-header{
                font-weight: bold;
                text-align: center;
              }
              .block-body{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 0 5px;
                margin-top: 5px;
                .block-body-img{
                  .fa{
                    font-size: 30px;
                  } 
                }
                .block-body-count{
                  font-weight: bold;
                }
              }
            }
          }
          .content-addimage{
            padding: 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            min-height: 60px;
            margin-bottom: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: .25rem;
            /*grid-area: addimage;*/
            .search-container{
              width: 100%;
              margin-right: 15px;
              form{
                .input-group{
                  .input-group-append{
                    margin-left: -1px;
                    cursor: pointer;
                    &:hover,&:active{
                      .input-group-text{
                        color: #000;
                        background-color: #fff;
                        border-color: #343a40;
                      }
                    }
                    &:focus{
                      .input-group-text{
                        box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
                      }
                    }
                    .input-group-text{
                      display: flex;
                      align-items: center;
                      padding: .375rem .75rem;
                      margin-bottom: 0;
                      font-size: 1rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #495057;
                      text-align: center;
                      white-space: nowrap;
                      background-color: #e9ecef;
                      border: 1px solid #ced4da;
                      background: #1d1d1d;
                      color: #fff;
                      border-color: transparent;
                      border-radius: 0 .25rem .25rem 0;
                    }
                  }
                }
                .form-group{
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  margin: 0;
                  label{
                    margin: 0;
                    margin-right: 15px;
                    color: #000;
                    font-size: 18px;
                  }
                  .form-control{
    
                  }
                }
              }
            }
            .image-status{
              display: flex;
              font-size: 18px;
              font-weight: 500;
              justify-content: center;
              align-items: center;
              .fa{
                padding-right: 5px;
              }
            }
            .btn{
              background: #1d1d1d;
              color: #fff;
              border-color: transparent;
              &:hover{
                color: #000;
                background-color: #fff;
                border-color: #343a40;
              }
              &:active{
                color: #000;
                background-color: #fff;
                border-color: #343a40;
              }
              &:focus{
                box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
              }
              .fa{
                margin-right: 5px;
              }
            }
          }
          .content-search{
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
            padding: 10px 20px;
            margin-bottom: 1rem;
            /*grid-area: search;*/
            form{
              .input-group{
                .input-group-append{
                  margin-left: -1px;
                  cursor: pointer;
                  &:hover,&:active{
                    .input-group-text{
                      color: #000;
                      background-color: #fff;
                      border-color: #343a40;
                    }
                  }
                  &:focus{
                    .input-group-text{
                      box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
                    }
                  }
                  .input-group-text{
                    display: flex;
                    align-items: center;
                    padding: .375rem .75rem;
                    margin-bottom: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    text-align: center;
                    white-space: nowrap;
                    background-color: #e9ecef;
                    border: 1px solid #ced4da;
                    background: #1d1d1d;
                    color: #fff;
                    border-color: transparent;
                    border-radius: 0 .25rem .25rem 0;
                  }
                }
              }
              .form-group{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0;
                label{
                  margin: 0;
                  margin-right: 15px;
                  color: #000;
                  font-size: 18px;
                }
                .form-control{
  
                }
              }
            }
          }
          .content-imagedata{
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            overflow: auto;
            .table-data{
              overflow: auto;
              padding: 0;
            }
            .right-column{
              .tags-list{
                border: 1px solid rgba(0,0,0,.15);
                border-radius: .25rem;
              }
              .tags-list-header{
                text-align: center;
                padding: .75rem;
                font-weight: bold;
              }
              .tags-wrapper{
                display: flex;
                flex-wrap: wrap;
                padding: 0 15px 15px 15px;
                .tag-wrap{
                  margin-bottom: 5px;
                  margin-right: 5px;
                  &:last-child{
                    margin-bottom: 0;
                    margin-right: 0;
                  }
                  .aui-label{
                    background: #f4f5f7;
                    border: 1px solid #dfe1e6;
                    border-radius: 3.01px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1;
                    padding: 1px 5px;
                    text-align: left;
                    text-decoration: none;
                    &:hover,&:active,&:focus{
                      border-color: #7a869a;
                      text-decoration: none;
                    }
                    
                  }
                }
              }
            }
            .table{
              margin: 0;
              tr{
                &:nth-child(even){
                  background: #f9f9f9;
                }
              }
              td,th{
                text-align: center;
              }
              .table-col{
                a{
                  position: static;
                }
              }
              img{
                cursor: pointer;
                width:128px;
                height: 128px;
              }
              .tags-wrapper{
                .tag-wrap{
                  margin-bottom: 5px;
                  &:last-child{
                    margin-bottom: 0;
                  }
                  .aui-label{
                    background: #f4f5f7;
                    border: 1px solid #dfe1e6;
                    border-radius: 3.01px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1;
                    padding: 1px 5px;
                    text-align: left;
                    text-decoration: none;
                  }
                }
              }
              .col-action{
                vertical-align: middle;
                .support-btns{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  .btn{
                    margin-bottom: 10px;
                    background: #1d1d1d;
                    color: #fff;
                    min-width: 97px;
                    border-color: transparent;
                    display: flex;
                    position: relative;
                    &:last-child{
                      margin-bottom: 0;
                    }
                    &:hover{
                      color: #000;
                      background-color: #fff;
                      border-color: #343a40;
                    }
                    &:active{
                      color: #000;
                      background-color: #fff;
                      border-color: #343a40;
                    }
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
                    }
                    a{
                      color: #fff;
                      text-decoration: none;
                      position: absolute;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                    }
                    .fa{
                      margin-right: 5px;
                      margin-top: 1px;
                    }
                  }
                }
              }
            }
          }
          .content-right{
            /*grid-area: right;*/
          }
        }
      }
    }
  }